* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cột ngang */
    gap: 20px;
    padding: 20px;
}
.product {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
}
header {
    background-color:#CBE0CA;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}
header h1 
{
    margin-bottom: 16px;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 120px;
}
nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
nav a:hover {
    color: #007bff;
}
footer {
    background-color: #545C54;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}