* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header_container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
header h1 {
    font-size: 24px;
    color: #2b2b2b;
    margin: 0;
}
header {
    background: linear-gradient(to bottom, #CBE0CA, #A8D5A2);
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.logo
{
    display: flex;
    align-items: center;
    font-size: 20px;


}
.logo span{
    font-family: 'Poppins', sans-serif;
}
.logo::after
{
    content: "";
    display: inline-block;
    width: 1px;
    height: 47.5px;
    background-color: #ccc;
    margin-left: 16px;
    vertical-align: middle;


}
.logo img {
    height: 20px;  /* hoặc điều chỉnh tùy ý */
    width: auto;
    margin-left: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 60px;
}


.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cột ngang */
    gap: 20px;
    padding: 30px;
}
.product {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
}


nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
nav a:hover {
    color: #024023;
}
footer {
    background-color: #545C54;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}